In [1]:
import os

In [2]:
os.getcwd()

'd:\\ML Projects\\Credit_card_default_prediction_model\\notebook'

In [3]:
os.chdir("d:\\ML Projects\\Credit_card_default_prediction_model")

In [4]:
os.getcwd()

'd:\\ML Projects\\Credit_card_default_prediction_model'

In [5]:
os.listdir("default_prediction")

['artifact',
 'component',
 'config',
 'constant',
 'entity',
 'exception',
 'logger',
 'pipeline',
 'util',
 '__init__.py',
 '__pycache__']

In [6]:
from default_prediction.config.configuration import Configuration

data_ingestion_log_completed

In [7]:
config = Configuration()

In [8]:
data_validation_config = config.get_data_validation_config()

In [9]:
report_file_path = data_validation_config.report_file_path

In [10]:
report_file_path

'd:\\ML Projects\\Credit_card_default_prediction_model\\default_prediction\\artifact\\data_validation\\2022-08-09-14-53-58\\report.json'

In [11]:
report_page_file_path = data_validation_config.report_page_file_path

In [12]:
report_page_file_path

'd:\\ML Projects\\Credit_card_default_prediction_model\\default_prediction\\artifact\\data_validation\\2022-08-09-14-53-58\\report.html'

In [13]:
schema_file_path = data_validation_config.schema_file_path

In [14]:
schema_file_path

'd:\\ML Projects\\Credit_card_default_prediction_model\\config\\schema.yaml'

In [15]:
from default_prediction.component.data_ingestion import DataIngestion

reached in data_ingestion inside component
log after data_ingestion

In [16]:
data_ingestion_config = config.get_data_ingestion_config()

DataIngestionConfig(data_download_url='https://raw.githubusercontent.com/sumit9708/credit_card_dataset/main/cs-training.csv', csv_download_dir='d:\\ML Projects\\Credit_card_default_prediction_model\\default_prediction\\artifact\\data_ingestion\\2022-08-09-14-53-58\\csv_data', raw_data_dir='d:\\ML Projects\\Credit_card_default_prediction_model\\default_prediction\\artifact\\data_ingestion\\2022-08-09-14-53-58\\raw_data', preprocessed_dataset_path='d:\\ML Projects\\Credit_card_default_prediction_model\\default_prediction\\artifact\\data_ingestion\\2022-08-09-14-53-58\\preprocessed_data', ingested_train_dir='d:\\ML Projects\\Credit_card_default_prediction_model\\default_prediction\\artifact\\data_ingestion\\2022-08-09-14-53-58\\ingested_data\\train', ingested_test_dir='d:\\ML Projects\\Credit_card_default_prediction_model\\default_prediction\\artifact\\data_ingestion\\2022-08-09-14-53-58\\ingested_data\\test')

In [17]:
data_ingestion = DataIngestion(data_ingestion_config=data_ingestion_config)

In [18]:
data_ingestion_artifact = data_ingestion.initiate_data_ingestion()

In [19]:
train_file_path = data_ingestion_artifact.test_file_path

In [20]:
train_file_path

'd:\\ML Projects\\Credit_card_default_prediction_model\\default_prediction\\artifact\\data_ingestion\\2022-08-09-14-53-58\\ingested_data\\test\\cs-training.csv'

In [21]:
from default_prediction.util.util import read_yaml_file

In [22]:
schema_file_path

'd:\\ML Projects\\Credit_card_default_prediction_model\\config\\schema.yaml'

In [23]:
schema = read_yaml_file(file_path=schema_file_path)

In [24]:
schema

{'columns': {'CustomerID': 'int',
  'SeriousDlqin2yrs': 'int',
  'RevolvingUtilizationOfUnsecuredLines': 'float',
  'age': 'int',
  'NumberOfTime30-59DaysPastDueNotWorse': 'int',
  'DebtRatio': 'float',
  'MonthlyIncome': 'float',
  'NumberOfOpenCreditLinesAndLoans': 'int',
  'NumberOfTimes90DaysLate': 'int',
  'NumberRealEstateLoansOrLines': 'int',
  'NumberOfTime60-89DaysPastDueNotWorse': 'int',
  'NumberOfDependents': 'float'},
 'numerical_columns': ['CustomerID',
  'RevolvingUtilizationOfUnsecuredLines',
  'age',
  'NumberOfTime30-59DaysPastDueNotWorse',
  'DebtRatio',
  'MonthlyIncome',
  'NumberOfOpenCreditLinesAndLoans',
  'NumberOfTimes90DaysLate',
  'NumberRealEstateLoansOrLines',
  'NumberOfTime60-89DaysPastDueNotWorse',
  'NumberOfDependents'],
 'target_column': 'SeriousDlqin2yrs'}

In [25]:
from default_prediction.constant import *

In [26]:
schema[COLUMNS_KEY]

{'CustomerID': 'int',
 'SeriousDlqin2yrs': 'int',
 'RevolvingUtilizationOfUnsecuredLines': 'float',
 'age': 'int',
 'NumberOfTime30-59DaysPastDueNotWorse': 'int',
 'DebtRatio': 'float',
 'MonthlyIncome': 'float',
 'NumberOfOpenCreditLinesAndLoans': 'int',
 'NumberOfTimes90DaysLate': 'int',
 'NumberRealEstateLoansOrLines': 'int',
 'NumberOfTime60-89DaysPastDueNotWorse': 'int',
 'NumberOfDependents': 'float'}

In [29]:
import pandas as pd

In [40]:
df = pd.read_csv(train_file_path)

In [41]:
df.columns

Index(['Unnamed: 0', 'SeriousDlqin2yrs',
       'RevolvingUtilizationOfUnsecuredLines', 'age',
       'NumberOfTime30-59DaysPastDueNotWorse', 'DebtRatio', 'MonthlyIncome',
       'NumberOfOpenCreditLinesAndLoans', 'NumberOfTimes90DaysLate',
       'NumberRealEstateLoansOrLines', 'NumberOfTime60-89DaysPastDueNotWorse',
       'NumberOfDependents'],
      dtype='object')

In [42]:
df

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,120001,0,0.230158,47,0,0.392321,7266.0,16,0,1,0,2.0
1,120002,1,0.914034,55,0,0.523095,3333.0,5,1,1,0,2.0
2,120003,0,0.324668,59,3,0.246002,9316.0,9,0,1,1,2.0
3,120004,0,0.016025,85,0,0.004499,4000.0,3,0,0,0,0.0
4,120005,0,0.004589,84,0,4737.000000,NaN,9,0,3,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
29995,149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
29996,149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
29997,149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
29998,149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
29999,150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [43]:
df.columns = schema[COLUMNS_KEY]

In [44]:
df

,CustomerID,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,120001,0,0.230158,47,0,0.392321,7266.0,16,0,1,0,2.0
1,120002,1,0.914034,55,0,0.523095,3333.0,5,1,1,0,2.0
2,120003,0,0.324668,59,3,0.246002,9316.0,9,0,1,1,2.0
3,120004,0,0.016025,85,0,0.004499,4000.0,3,0,0,0,0.0
4,120005,0,0.004589,84,0,4737.000000,NaN,9,0,3,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
29995,149996,0,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
29996,149997,0,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
29997,149998,0,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
29998,149999,0,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
29999,150000,0,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [27]:
schema[NUMERICAL_COLUMN_KEY]

['CustomerID',
 'RevolvingUtilizationOfUnsecuredLines',
 'age',
 'NumberOfTime30-59DaysPastDueNotWorse',
 'DebtRatio',
 'MonthlyIncome',
 'NumberOfOpenCreditLinesAndLoans',
 'NumberOfTimes90DaysLate',
 'NumberRealEstateLoansOrLines',
 'NumberOfTime60-89DaysPastDueNotWorse',
 'NumberOfDependents']

In [28]:
schema[TARGET_COLUMN_KEY]

'SeriousDlqin2yrs'

In [ ]:
os.getcwd()

In [ ]:
os.listdir(train_file_path)

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv(train_file_path)

In [ ]:
import pandas as pd
import numpy as np
import shutil

In [ ]:
download_url = "https://raw.githubusercontent.com/sumit9708/credit_card_dataset/main/cs-training.csv"

In [ ]:
import urllib

In [ ]:
test = r"D:\ML Projects\Credit_card_default_prediction_model\notebook\test"

In [ ]:

file_name = os.path.basename(download_url)

In [ ]:
file_name

In [ ]:
test_file_path = os.path.join(test,file_name)

In [ ]:
test_file_path

In [ ]:
urllib.request.urlretrieve(download_url,test_file_path)

In [ ]:
test

In [ ]:
test_file_path

In [ ]:
raw_df = pd.read_csv(test_file_path)

In [ ]:
raw_df.shape

In [ ]:
train_set = raw_df[:120000]

In [ ]:
test_set = raw_df[120000:]

In [ ]:
train_set.shape

In [ ]:
test_set.shape

In [ ]:
file_name

In [ ]:
train_file = r"D:\ML Projects\Credit_card_default_prediction_model\notebook\test\train_file"

In [ ]:
test_file= r"D:\ML Projects\Credit_card_default_prediction_model\notebook\test\test_file"

In [ ]:
train_file_path = os.path.join(train_file,file_name)

In [ ]:
train_file_path

In [ ]:

#if os.path.exists(train_file_path):
  #  os.remove(train_file_path)

In [ ]:
#os.makedirs(train_file_path,exist_ok=True)

In [ ]:
train_set.to_csv(train_file_path,index=False)

In [ ]:
test_file_path = os.path.join(test_file,file_name)

In [ ]:
test_set.to_csv(test_file_path,index=False)

In [ ]:
train_file_path

In [ ]:
pd.read_csv(train_file_path)

In [ ]:
train_set.to_csv(train_file_path,index=False)

In [ ]:
test_set.to_csv(test_file_path,index=False)